.wrapperPlamen {
   width: 300px;
   margin: 0 auto;
   margin-top: 2rem;
   display: flex;
   flex-direction: column;
   select, input {
      margin-bottom: 0.5rem;
      border-radius: 4px;
      background-color:rgb(231, 229, 229);
      border: none;
      color: black;
      padding: 2px 5px;
      &:active{
         border: none;
      }
   }
}

.wrapperPlamen1 {
   width: 300px;
   margin: 0 auto;
   margin-top: 2rem;
   display: flex;
   flex-direction: column;
   text-align: center;

   select,
   input {
      margin-bottom: 0.5rem;
      border-radius: 4px;
      background-color: rgb(231, 229, 229);
      border: none;
      color: black;
      padding: 2px 5px;

      &:active {
         border: none;
      }
   }
}

.btnPlamen {
   background: black;
   color: white;
   width: 100px;
   border-radius: 6px;
   padding: 4px 8px;
   margin: 0 auto;
   border: 1px solid black;
   &:hover{
      background: white;
      color: black;
      transition: all .5s;
   }

}

.nftPlamen {
   display: flex;
   flex-wrap: wrap;
}